# === Frontend (Next.js) ===
/frontend/node_modules/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/.next/
/frontend/out/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# === Backend (Python, FastAPI) ===
/backend/venv/
/backend/.env
/backend/__pycache__/
/backend/*.py[cod]
/backend/*.so
/backend/*.egg
/backend/*.egg-info/
/backend/dist/
/backend/build/

# === Common ===
.DS_Store
logs
*.log

# Editor
.vscode/
.idea/
